<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('pageTitle.competitorList') %></h2>
        <table class="table-list">
            <thead>
                <th><%= __('competitor.fields.name.label') %></th>
                <th><%= __('competitor.fields.surname.label') %></th>
                <th><%= __('competitor.fields.email.label') %></th>
                <th><%= __('competitor.fields.birthdate.label') %></th>
                <th><%= __('competitor.fields.dighy.label') %></th>
                <th><%= __('competitor.fields.sailNumber.label') %></th>
                <th><%= __('list.actions.title') %></th>
            </thead>

            <tbody>
            <% for (let competitor of competitors) { %>
                <tr>
                    <td><%= competitor.name %></td>
                    <td><%= competitor.surname %></td>
                    <td><%= competitor.email %></td>
                    <td><%= competitor.birthdate %></td>
                    <td><%= competitor.dighy %></td>
                    <td><%= competitor.sailNumber %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/competitor/details/<%= competitor._id %>" class="list-actions-button-details"><%= __('buttons.details') %></a>
                            </li>
                            <li>
                                <a href="/competitor/edit/<%= competitor._id %>" class="list-actions-button-edit"><%= __('buttons.edit') %></a>
                            </li>
                            <li>
                                <a href="/competitor/delete/<%= competitor._id %>" class="list-actions-button-delete"><%= __('buttons.delete') %></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <p><a href="/competitor/add" class="button-add"><%= __('buttons.add') %></a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>