<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Competitors</h2>
        <table class="table-list">
            <thead>
                <th>Name</th>
                <th>Surname</th>
                <th>Date of birth</th>
                <th>Dighy</th>
                <th>Sailing number</th>
                <th>Actions</th>
            </thead>

            <tbody>
            <% for (let competitor of competitors) { %>
                <tr>
                    <td><%= competitor.name %></td>
                    <td><%= competitor.surname %></td>
                    <td><%= competitor.birthdate %></td>
                    <td><%= competitor.dighy %></td>
                    <td><%= competitor.sailNumber %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/competitor/details/<%=competitor._id%>" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/competitor/edit/<%=competitor._id%>" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="/competitor/delete/<%=competitor._id%>" class="list-actions-button-delete">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <p><a href="/competitor/add" class="button-add">Add</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>