<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('pageTitle.membershipList') %></h2>
        <list>
            <table class="table-list">
                <thead>
                    <th><%= __('membership.fields.competitor.label') %></th>
                    <th><%= __('membership.fields.club.label') %></th>
                    <th><%= __('membership.fields.dateFrom.label') %></th>
                    <th><%= __('membership.fields.dateTo.label') %></th>
                    <th><%= __('list.actions.title') %></th>
                </thead>

                <tbody>
                <% for (let membership of memberships) { %>
                    <tr>
                        <td><%= membership.competitor.name + " " + membership.competitor.surname %></td>
                        <td><%= membership.club.name %></td>
                        <td><%= membership.dateFrom %></td>
                        <td><%= membership.dateTo %></td>
                        <td>
                            <ul class="list-actions">
                                <li>
                                    <a href="/membership/details/<%= membership._id %>" class="list-actions-button-details"><%= __('buttons.details') %></a>
                                </li>
                                <li>
                                    <a href="/membership/edit/<%= membership._id %>" class="list-actions-button-edit"><%= __('buttons.edit') %></a>
                                </li>
                                <li>
                                    <a href="/membership/delete/<%= membership._id %>" class="list-actions-button-delete"><%= __('buttons.delete') %></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>           
        </list>
        <p><a href="/membership/add" class="button-add"><%= __('buttons.add') %></a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>