<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Clubs</h2>
        <table class="table-list">
            <thead>
                <th>Name</th>
                <th>County</th>
                <th>Owner</th>
                <th>Budget</th>
                <th>Actions</th> 
            </thead>

            <tbody>
            <% for (let club of clubs) { %>
                <tr>
                    <td><%= club.name %></td>
                    <td><%= club.county %></td>
                    <td><%= club.owner %></td>
                    <td><%= club.budget %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/club/details/<%=club._id%>" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/club/edit/<%=club._id%>" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="/club/delete/<%=club._id%>" class="list-actions-button-delete">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>           
        <p><a href="/club/add" class="button-add">Add</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>